<md-toolbar class="main-toolbar">
    <i class="fa fa-bars fa-2x" aria-hidden="true" (click)="triggerSidebarEvent()"> </i>
    <div class="site-name">
        Brandon Atkins
    </div>
    <div class="contact-icons">
        <a target="_blank" href="https://www.linkedin.com/in/brandon-atkins-b474a698/" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></a>
        <a target="_blank" href="https://twitter.com/bpatkins" class="fa fa-twitter-square fa-2x" aria-hidden="true"></a>
        <a target="_blank" href="https://github.com/bpatkins" class="fa fa-github fa-2x" aria-hidden="true"></a>
        <a target="_blank" href="http://codepen.io/atkinbp/" class="fa fa-codepen fa-2x" aria-hidden="true"></a>
    </div>
</md-toolbar>
